:host {
  display: block;

  width: 80%;
  min-height: 5em;

  margin: 1em auto 1em auto;
  padding: 0.5em;

  border-radius: 1em;
  background: linear-gradient(-5deg, goldenrod 0%, gold 100%);

  text-align: center;
}
